<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.buglifecycle.dao.BugsDao">

    <sql id="48Id">
        <choose>
            <when test="systemDTO.unDeal!=null and systemDTO.unDeal!='' and 'true'.toString()==systemDTO.unDeal.toString()">
                and TIMESTAMPDIFF(hour,a.openedDate,now()) &gt; 48
                and a.status = 'active'
                and a.type='codeerror'
            </when>
            <otherwise>
                and TIMESTAMPDIFF(hour,a.openedDate,case when a.resolvedDate is null then now() else a.resolvedDate end ) &gt; 48
                and a.status &lt;&gt; 'closed'
            </otherwise>
        </choose>
        <if test="systemDTO.systemId !=null and systemDTO.systemId !=''">
            and b.id = #{systemDTO.systemId}
        </if>
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',(select right(YEAR (CURDATE()),2)),'%')
            </otherwise>
        </choose>
        <choose>
            <when test="systemDTO.account!=null">
                AND a.assignedTo = #{systemDTO.account}
            </when>
            <otherwise>
                AND a.assignedTo = ''
            </otherwise>
        </choose>
    </sql>

    <sql id="10Id">
        <choose>
            <when test="systemDTO.unDeal!=null and systemDTO.unDeal!='' and 'true'.toString()==systemDTO.unDeal.toString()">
                and a.status = 'active'
            </when>
            <otherwise>
                and a.status &lt;&gt; 'closed'
            </otherwise>
        </choose>
        <if test="systemDTO.systemId !=null and systemDTO.systemId !=''">
            and b.id = #{systemDTO.systemId}
        </if>
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',(select right(YEAR (CURDATE()),2)),'%')
            </otherwise>
        </choose>
        <choose>
            <when test="systemDTO.account!=null">
                AND a.assignedTo = #{systemDTO.account}
            </when>
            <otherwise>
                AND a.assignedTo = ''
            </otherwise>
        </choose>
    </sql>

    <select id="tableFor48UnDeal" resultType="com.newtouch.buglifecycle.entity.home.BugsInfoVO" >
      select d.realname as userName,count(1)as bugsNum,d.account from zt_bug a
        left join zt_product b on a.product = b.id
        left join zt_project c on a.project = c.id
        left join zt_user d on a.assignedTo = d.account
        where
         1=1
        <choose>
            <when test="unDeal!=null and unDeal!='' and 'true'.toString()==unDeal.toString()">
                and TIMESTAMPDIFF(hour,a.openedDate,now()) &gt; 48
                and a.status = 'active'
                and a.type='codeerror'
            </when>
            <otherwise>
                and TIMESTAMPDIFF(hour,a.openedDate,case when a.resolvedDate is null then now() else a.resolvedDate end ) &gt; 48
                and a.status &lt;&gt; 'closed'
            </otherwise>
        </choose>
        <if test="systemId !=null and systemId !=''">
            and b.id = #{systemId}
        </if>
        <choose>
            <when test="versionIds!=null and versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',(select right(YEAR (CURDATE()),2)),'%')
            </otherwise>
        </choose>
        group by d.account
        order by count(1) desc limit 10;
    </select>

    <select id="tableForRank10" resultType="com.newtouch.buglifecycle.entity.home.BugsInfoVO" >
        select d.realname as userName,count(1)as bugsNum,d.account from zt_bug a
        left join zt_product b on a.product = b.id
        left join zt_project c on a.project = c.id
        left join zt_user d on a.assignedTo = d.account
        where
        1=1
        <choose>
            <when test="unDeal!=null and unDeal!='' and 'true'.toString()==unDeal.toString()">
                and a.status = 'active'
            </when>
            <otherwise>
                and a.status &lt;&gt; 'closed'
            </otherwise>
        </choose>
        <if test="systemId !=null and systemId !=''">
            and b.id = #{systemId}
        </if>
        <choose>
            <when test="versionIds!=null and versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',(select right(YEAR (CURDATE()),2)),'%')
            </otherwise>
        </choose>
        group by d.account
        order by count(1) desc limit 10;
    </select>


    <select id="tableFor48UnDealDetail" resultType="com.newtouch.buglifecycle.entity.home.UnsolvedBugDetialVO">
        SELECT
        a.id as id,
        b.name as projectName,
        TIMESTAMPDIFF(hour,a.openedDate,now()) as putHours,
        a.type as type,
        a.title as title,
        d.realname as openedBy,
        e.realname as assignedTo,
        f.realname as resolvedBy,
        a.resolution as resolution
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <include refid="48Id" />
        limit #{page.minNum},#{page.pageSize}
    </select>

    <select id="tableFor48UnDealCount" resultType="int">
        SELECT
        count(1)
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <include refid="48Id" />
    </select>

    <select id="tableForRank10Detail" resultType="com.newtouch.buglifecycle.entity.home.UnsolvedBugDetialVO">
        SELECT
        a.id as id,
        b.name as projectName,
        TIMESTAMPDIFF(hour,a.openedDate,now()) as putHours,
        a.type as type,
        a.title as title,
        d.realname as openedBy,
        e.realname as assignedTo,
        f.realname as resolvedBy,
        a.resolution as resolution
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <include refid="10Id" />
        limit #{page.minNum},#{page.pageSize}
    </select>

    <select id="tableForRank10Count" resultType="int">
        SELECT
        count(1)
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <include refid="10Id" />
    </select>
</mapper>
