<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.buglifecycle.dao.DefectThanFiveDao">

    <resultMap id="BaseResultMap"
               type="com.newtouch.buglifecycle.entity.home.DefectThanFiveVO">
        <result column="ID" property="id" jdbcType="VARCHAR" />
        <result column="PROJECTNAME" property="projectName" jdbcType="VARCHAR" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="VERSION" property="version" jdbcType="VARCHAR" />
        <result column="BUGSUM" property="bugSum" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findThan5Bug" resultMap="BaseResultMap">
        SELECT
            c.name as  version,
            b.name as projectName,
            e.title as title,
            e.id as id,
            count(*) as bugSum
        FROM
            zt_bug a
        LEFT JOIN
            zt_product b
        ON
            a.product = b.id
        LEFT JOIN
            zt_project c
        ON
            a.project = c.id
        LEFT JOIN
            zt_user d
        ON
            a.resolvedBy = d.account
        LEFT JOIN
            zt_story e
        ON
            a.story = e.id
        WHERE
            1=1
        AND
            e.id is not null
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',right(YEAR (CURDATE()),2),'%')
            </otherwise>
        </choose>
        <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
            AND  b.id = #{systemDTO.systemId}
        </if>
        GROUP BY
            c.id,b.id,e.title,e.id
        HAVING(bugSum &gt;5)
        ORDER BY
          bugSum
        DESC
        limit #{page.minNum},#{page.pageSize}
    </select>

    <select id="findThan5BugTotal" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
        (SELECT
        COUNT(*) as bugSum
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.resolvedBy = d.account
        LEFT JOIN
        zt_story e
        ON
        a.story = e.id
        WHERE
        1=1
        AND
          e.id is not null
        <choose>
                <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                    AND
                    c.id in
                    <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    AND
                    c.name like concat('%',right(YEAR (CURDATE()),2),'%')
                </otherwise>
            </choose>
            <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
                AND  b.id = #{systemDTO.systemId}
            </if>
            GROUP BY
            c.id,b.id,e.title,e.id
            HAVING(bugSum &gt;5)
        ) B
    </select>

</mapper>
