<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.buglifecycle.dao.UnsolvedBugDetialDao">

    <resultMap id="BaseResultMap"
        type="com.newtouch.buglifecycle.entity.home.UnsolvedBugDetialVO">
        <result column="ID" property="id" jdbcType="VARCHAR" />
        <result column="PROJECTNAME" property="projectName" jdbcType="VARCHAR" />
        <result column="PUTHOURS" property="putHours" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="OPENEDBY" property="openedBy" jdbcType="VARCHAR" />
        <result column="ASSIGNEDTO" property="assignedTo" jdbcType="VARCHAR" />
        <result column="RESOLVEDBY" property="resolvedBy" jdbcType="VARCHAR" />
        <result column="RESOLUTION" property="resolution" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        a.id as id,
        b.name as projectName,
        TIMESTAMPDIFF(hour,a.openedDate,now()) as putHours,
        a.type as type,
        a.title as title,
        d.realname as openedBy,
        e.realname as assignedTo,
        f.realname as resolvedBy,
        a.resolution as resolution
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',right(YEAR (CURDATE()),2),'%')
            </otherwise>
        </choose>
        <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
            AND  b.id = #{systemDTO.systemId}
        </if>
        AND
        a.status = 'active'
        AND
        a.type = 'redev'
        ORDER BY
        id
        DESC
        limit #{page.minNum},#{page.pageSize}
    </select>

    <select id="findAllTotal" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',right(YEAR (CURDATE()),2),'%')
            </otherwise>
        </choose>
        <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
            AND  b.id = #{systemDTO.systemId}
        </if>
        AND
        a.status = 'active'
        AND
        a.type = 'redev'
    </select>


    <select id="findBugDetail" resultMap="BaseResultMap">
        SELECT
            a.id as id,
            b.name as projectName,
            TIMESTAMPDIFF(hour,a.openedDate,now()) as putHours,
            a.type as type,
            a.title as title,
            d.realname as openedBy,
            e.realname as assignedTo,
            f.realname as resolvedBy,
            a.resolution as resolution
        FROM
            zt_bug a
        LEFT JOIN
            zt_product b
        ON
            a.product = b.id
        LEFT JOIN
            zt_project c
        ON
            a.project = c.id
        LEFT JOIN
            zt_user d
        ON
            a.openedBy = d.account
        LEFT JOIN
            zt_user e
        ON
            a.assignedTo = e.account
        LEFT JOIN
            zt_user f
        ON
            a.resolvedBy = f.account
        WHERE
            1=1
        <if test="systemDTO.storyId!=null and systemDTO.storyId!=''">
            AND a.story = #{systemDTO.storyId}
        </if>
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',right(YEAR (CURDATE()),2),'%')
            </otherwise>
        </choose>
        <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
            AND  b.id = #{systemDTO.systemId}
        </if>
    </select>

    <select id="findBugDetailTotal" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <if test="systemDTO.storyId!=null and systemDTO.storyId!=''">
            AND a.story = #{systemDTO.storyId}
        </if>
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',right(YEAR (CURDATE()),2),'%')
            </otherwise>
        </choose>
        <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
            AND  b.id = #{systemDTO.systemId}
        </if>
    </select>


    <select id="findBugDetailPage" resultMap="BaseResultMap">
        SELECT
        a.id as id,
        b.name as projectName,
        TIMESTAMPDIFF(hour,a.openedDate,now()) as putHours,
        a.type as type,
        a.title as title,
        d.realname as openedBy,
        e.realname as assignedTo,
        f.realname as resolvedBy,
        a.resolution as resolution
        FROM
        zt_bug a
        LEFT JOIN
        zt_product b
        ON
        a.product = b.id
        LEFT JOIN
        zt_project c
        ON
        a.project = c.id
        LEFT JOIN
        zt_user d
        ON
        a.openedBy = d.account
        LEFT JOIN
        zt_user e
        ON
        a.assignedTo = e.account
        LEFT JOIN
        zt_user f
        ON
        a.resolvedBy = f.account
        WHERE
        1=1
        <if test="systemVO.storyId!=null and systemVO.storyId!=''">
            AND a.story = #{systemVO.storyId}
        </if>
        <choose>
            <when test="systemDTO.versionIds!=null and systemDTO.versionIds.size() > 0">
                AND
                c.id in
                <foreach collection="systemDTO.versionIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND
                c.name like concat('%',concat('%',(select right(YEAR (CURDATE()),2))),'%')
            </otherwise>
        </choose>
        <if test="systemDTO.systemId!=null and systemDTO.systemId!=''">
            AND  b.id = #{systemDTO.systemId}
        </if>
        limit #{page.minNum},#{page.pageSize}

    </select>

</mapper>
